<section id="courses-and-certificate">
    <h2 id="-online-courses-and-skills-"><strong>Online Courses and Skills</strong></h2>
    <ul>
        <li>Completed various online courses on platforms like <strong>Udemy, LinkedIn Learning, and Youtube</strong>,
            covering topics such as Software Engineering, Web Development Essentials topics.
        </li>
        <li>Developed skills in <strong>TypeScript, ElasticSearch</strong> through self-directed learning and
            practical application.
        </li>
    </ul>
</section>