

<section id="education">
    <h2 id=""><strong>Education</strong></h2>
    <div class="table-responsive">
        <table class="table table-bordered align-middle rounded-corners">
            <thead class="">
            <tr>
                <th scope="col">Degree</th>
                <th scope="col">Institution & Year</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fw-semibold">Bachelor of Science in Software Engineering</td>
                <td>American International University Bangladesh (AIUB) | 2018 - 2021</td>
                <td>
                    <strong>CGPA: 3.59 scale of 4.00</strong><br>
                    Key Courses:
                    <ul>
                        <li>Software Engineering</li>
                        <li>Software Development Project Management</li>
                        <li>Software Requirement Engineering</li>
                        <li>Software Quality and Testing</li>
                        <li>Advanced Web Programming</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fw-semibold">Higher Secondary School Certificate (HSC)</td>
                <td>St. Joseph Secondary School, Dhaka | 2016</td>
                <td>
                    <strong>GPA: 4.73 scale of 5.00</strong>
                </td>
            </tr>
            <tr>
                <td class="fw-semibold">Secondary School Certificate (SSC)</td>
                <td>Cambrian School & College, Dhaka | 2014</td>
                <td>
                    <strong>GPA: 5.00 scale of 5.00</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


<!--    <table class="table table-bordered table-striped">-->
<!--        <tr>-->
<!--            <td class="fw-semibold">Degree</td>-->
<!--            <td class="fw-semibold">Institution</td>-->
<!--            <td class="fw-semibold">Year</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Bachelor of Science in Software Engineering</td>-->
<!--            <td>American International University Bangladesh (AIUB)</td>-->
<!--            <td>2018 - 2021</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Higher Secondary School Certificate (HSC)</td>-->
<!--            <td>St. Joseph Secondary School, Dhaka</td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Secondary School Certificate (SSC)</td>-->
<!--            <td>Cambrian School & College, Dhaka</td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <ul>-->
<!--        <li><span class="fw-semibold">Bachelor of Science in Software Engineering</span>-->
<!--            <ul>-->
<!--                <li class="fw-bold">American International University Bangladesh (AIUB) | 2018 - 2021</li>-->
<!--                <li><strong>CGPA: 3.59</strong></li>-->
<!--                <li>Key Courses - -->
<!--                    <ul>-->
<!--                        <li>Software Engineering</li>-->
<!--                        <li>Software Development Project Management</li>-->
<!--                        <li>Software Requirement Engineering</li>-->
<!--                        <li>Software Quality and Testing</li>-->
<!--                        <li>Advanced Web Programming</li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li><span class="fw-semibold">Higher Secondary School Certificate(HSC)</span>-->
<!--            <ul>-->
<!--                <li class="fw-bold">St. Joseph Secondary School, Dhaka</li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li><span class="fw-semibold">Secondary School Certificate(SSC)</span>-->
<!--            <ul>-->
<!--                <li class="fw-bold">Cambrian School & College, Dhaka</li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
</section>