<section id="education">
    <h2 id=""><strong>Education</strong></h2>
    <ul>
        <li><span class="fw-semibold">Bachelor of Science in Software Engineering</span>
            <ul>
                <li class="fw-bold">American International University Bangladesh (AIUB) | 2018 - 2021</li>
                <li><strong>CGPA: 3.59</strong></li>
                <li>Key Courses -
                    <ul>
                        <li>Software Engineering</li>
                        <li>Software Development Project Management</li>
                        <li>Software Requirement Engineering</li>
                        <li>Software Quality and Testing</li>
                        <li>Advanced Web Programming</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><span class="fw-semibold">Higher Secondary Certificate(HSC)</span>
            <ul>
                <li class="fw-bold">St. Joseph Secondary School, Dhaka</li>
            </ul>
        </li>
        <li><span class="fw-semibold">Secondary School Certificate(SSC)</span>
            <ul>
                <li class="fw-bold">Cambrian School & College, Dhaka</li>
            </ul>
        </li>
    </ul>
</section>