<section id="language">
    <h2 id="language-proficiency"><strong>Language Proficiency</strong></h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Language</th>
            <th>Proficiency</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>English</strong></td>
            <td>Fluent (written and spoken)</td>
        </tr>
        <tr>
            <td><strong>Bangla</strong></td>
            <td>Native</td>
        </tr>
        </tbody>
    </table>
</section>