<section id="professional-experience">
    <h2 id=""><strong>Professional Experience</strong></h2>

    <!-- experiences ###-->
    <h4 id="software-engineer-brac-it-services-limited"><strong>Software Engineer | BRAC
        IT Services Limited, Dhaka</strong></h4>
    <h4> &nbsp;&nbsp; February 2022 - Present</h4>
    <ul>
        <li>Developed and maintained scalable and high-performance web applications using <strong>Java, Spring Boot, and
            Angular</strong>.
        </li>
        <li>Test Driven Development with tools like-<strong>JUnit, Mockito</strong>.</li>
        <li>Experience with caching mechanisms using <span class="fw-bold">Redis</span>.</li>
        <li>Communicate with cross applications using <span class="fw-bold">RabbitMQ, Spring Cloud Stream</span></li>
        <li>Worked on the development of the <strong>ERP</strong> application, integrating loan
            modules, which is running in <strong>3500+ offices of BRAC NGO.</strong></li>
        <li>Worked on the development of the <strong>HR(Human Resource) and Payroll Management Solution</strong> which is an extensive tool for
            managing HR tasks and Payroll, includes employee self services. I have developed these modules - salary generation, tax management, provident fund,
            and employee self-service functionalities and collaborating with stakeholders to meet requirements.
        </li>
        <li>Developed a <strong>Post-Disaster Management Solution</strong> for serving multiple NGOS.</li>
        <li>Developed a <strong>Webhook Notification System</strong> for notifying 3rd party clients.
            Daily more than <strong>100k notifications</strong> are serving within this application.</li>
        <li>Collaborated with front-end developers to create seamless user experiences using <strong>Angular</strong>.
        </li>
        <li>Conducted <strong>Code reviews</strong> to ensure adherence to coding standards and maintainability.</li>
        <li>Actively participated in <strong>Agile</strong> development methodologies, contributing to sprint planning,
            feature development estimation, daily stand-ups, and retrospectives.
        </li>
        <li>Responsible for initiating and coordinating regular <strong>Live release communication</strong> across the team.</li>
        <li>Conducted <strong>Technical sessions</strong> to share knowledge and updates with the development team.</li>
        <li>Provided <strong>guidance and support</strong> to junior team members, fostering a collaborative and learning environment.
        </li>
        <!-- <li>Offered real-time support to address and resolve issues during live production.</li> -->
    </ul>

    <!-- experiences ###-->
    <!-- <h3 id="intern-brac-it-services-limited-dhaka-october-2021-january-2022-"><strong>Intern | BRAC IT Services
            Limited, Dhaka | October 2021 - January 2022</strong></h3>
    <ul>
        <li>Assisted in the development of key features for the <strong>HR and Payroll Solution</strong>.</li>
        <li>Gained hands-on experience in <strong>Java, Spring Boot, and Angular</strong>.</li>
        <li>Collaborated with the development team to troubleshoot and resolve issues.</li>
        <li>Participated in <strong>Agile</strong> development methodologies and learned about the software development
            life cycle.</li>
    </ul> -->
</section>