<section id="professional-experience">
    <h2 id=""><strong>Professional Experience</strong></h2>

    <!-- experiences ###-->
    <h4 id="software-engineer-brac-it-services-limited"><strong>Software Engineer | BRAC
        IT Services Limited, Dhaka</strong></h4>
    <h4> &nbsp;&nbsp; February 2022 - Present</h4>
    <ul>
        <li>Developed and maintained scalable and high-performance web applications using <strong>Java, Spring Boot, and
            Angular</strong>.
        </li>
        <li id="ddd">Test Driven Development with <strong>JUnit, Mockito</strong></li>
        <li>Experience with caching mechanisms using <span class="fw-bold">Redis</span>.</li>
        <li>Experience with messaging queues using <span class="fw-bold">RabbitMQ, Spring Cloud Stream</span></li>
        <li>Worked on the development of the <strong>HR and Payroll Solution</strong> which is an extensive tool for
            managing HR tasks and
            Payroll, includes employee self services.
        </li>
        <li>Worked on the development of the <strong>ERP</strong> application, integrating loan
            modules,
            which is running in more than <strong>3200 offices of BRAC.</strong></li>
        <li>Contributed to the <strong>BRAC Payroll</strong> project, implementing payroll processing logic and
            collaborating with stakeholders to meet requirements.
        </li>
        <li>Collaborated with front-end developers to create seamless user experiences using <strong>Angular</strong>.
        </li>
        <li>Conducted code reviews to ensure adherence to coding standards and maintainability.</li>
        <li>Actively participated in <strong>Agile</strong> development methodologies, contributing to sprint planning,
            daily stand-ups, and retrospectives.
        </li>
        <li>Utilized <strong>Git</strong> for version control to manage code efficiently.</li>
        <li>Responsible for initiating and coordinating live release communication across the team.</li>
        <li>Conducted technical sessions to share knowledge and updates with the development team.</li>
        <li>Provided guidance and support to junior team members, fostering a collaborative and learning environment.
        </li>
        <!-- <li>Offered real-time support to address and resolve issues during live production.</li> -->
    </ul>

    <!-- experiences ###-->
    <!-- <h3 id="intern-brac-it-services-limited-dhaka-october-2021-january-2022-"><strong>Intern | BRAC IT Services
            Limited, Dhaka | October 2021 - January 2022</strong></h3>
    <ul>
        <li>Assisted in the development of key features for the <strong>HR and Payroll Solution</strong>.</li>
        <li>Gained hands-on experience in <strong>Java, Spring Boot, and Angular</strong>.</li>
        <li>Collaborated with the development team to troubleshoot and resolve issues.</li>
        <li>Participated in <strong>Agile</strong> development methodologies and learned about the software development
            life cycle.</li>
    </ul> -->
</section>