<section id="projects">
    <h2 class="fw-bold">Projects</h2>
    <div>
        <h3 id="hr-and-payroll-solution-"><strong>
            <icon class="project-check"></icon>
            HR and Payroll Solution
        </strong></h3>
        <ul>
            <li>Description: I have worked in Attendance, Leave, Recruitment, Payroll, Procurement, Self-serivces, and
                Report
                Module.
            </li>
            <li class="project-techs">Technologies: Java, Spring Boot, Angular, Postgres, Flyway</li>
        </ul>
    </div>

    <div>
        <h3 id="-smart-microfinance-"><strong>
            <icon class="project-check"></icon>
            Smart Microfinance
        </strong></h3>
        <ul>
            <li>Description: Worked in Smart Microfinance application, integrating financial modules and
                ensuring regulatory compliance.
            </li>
            <li class="project-techs">Technologies: Java, Spring Boot, Angular, ElasticSearch, Redis, RabbitMQ</li>
        </ul>
    </div>

    <div>
        <h3 id="-books-cabinet-"><strong>
            <icon class="project-check"></icon>
            Books Cabinet
        </strong></h3>
        <ul>
            <li>Description: Co-led the development of the &quot;Books Cabinet&quot; project for the <strong>Therap Java
                Fest 2021</strong>.
                <ul>
                    <li>Idea: Reselling used/old books at a reduced price to support others and promote the reuse of books.
                    </li>
                </ul>
            </li>
            <li class="project-techs">Technologies: Java, Spring Boot, Thymeleaf</li>
            <li>GitHub Repository: <a href="https://github.com/fesabelilla/Books-Cabinet">Books Cabinet GitHub
                Repository</a></li>
        </ul>
    </div>

    <div>
        <h3 id="brac-payroll-"><strong>
            <icon class="project-check"></icon>
            BRAC Payroll
        </strong></h3>
        <ul>
            <li>Description: Contributed to the BRAC Payroll project, implementing payroll processing logic and
                collaborating with stakeholders to meet requirements.
            </li>
            <li class="project-techs">Technologies: PHP, MySQL</li>
        </ul>
    </div>
</section>