<section id="projects">
    <h2 class="fw-bold">Projects</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Description / Modules</th>
                <th scope="col">Technologies</th>
                <th scope="col">Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        Human Resource Management Solution
                    </strong>
                </td>
                <td>
                    Developed modules: Employee Management, Attendance, Leave, Payroll, Procurement, Self-Services and PDF Report.
                </td>
                <td class="project-techs">
                    Java, Spring Boot, Angular, Postgres, Flyway DB Migration
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        ERP (Fintech Solution)
                    </strong>
                </td>
                <td>
                    Worked on:
                    <ul class="mb-0">
                        <li>Loan application</li>
                        <li>Integrating digital payments</li>
                        <li>Webhook notification system</li>
                    </ul>
                </td>
                <td class="project-techs">
                    Java, Spring Boot, Angular, ElasticSearch, Redis, RabbitMQ, Webhook Notification, Docker
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        Books Cabinet
                    </strong>
                </td>
                <td>
                    Co-led the development of the "Books Cabinet" project for the <strong>Therap Java Fest 2021</strong>.
                    <ul class="mb-0">
                        <li>Idea: Marketplace of used/old books at a reduced price to support others and promote the reuse of books.</li>
                    </ul>
                </td>
                <td class="project-techs">
                    Java, Spring Boot, Thymeleaf
                </td>
                <td>
                    <a href="https://github.com/fesabelilla/Books-Cabinet">Books Cabinet GitHub Repository</a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        Payroll Solution
                    </strong>
                </td>
                <td>
                    Contributed to the Payroll project, implementing payroll features - salary calculation, tax management, provident fund and employee self-service functionalities.
                    Added data migration features to migrate data from legacy systems to the new payroll system.
                </td>
                <td class="project-techs">
                    Laravel Backpack Framework, Javascript, Ajax, MySQL
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>