<section id="projects">
    <h2 class="fw-bold">Projects</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Description / Modules</th>
                <th scope="col">Technologies</th>
                <th scope="col">Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        ERP (Fintech Solution)
                    </strong>
                </td>
                <td>
                    Worked on:
                    <ul class="mb-0">
                        <li>Loan application</li>
                        <li>Integrating digital payments eg. Bank, Mobile Wallet</li>
                        <li>Webhook notification system</li>
                        <li>Deduplication technology</li>
                    </ul>
                </td>
                <td class="project-techs">
                    Java, Spring Boot, Angular, ElasticSearch, Redis, RabbitMQ, Webhook Notification, Docker
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        Inventory Management System (Microservice)
                    </strong>
                </td>
                <td>
                    I have developed a microservice for inventory management, which includes:
                    user-service, product-service, order-service,  inventory-service.
                </td>
                <td class="project-techs">
                    PostgreSQL, Redis, RabbitMQ, API Gateway: Spring Cloud Gateway, Service Discovery: Eureka, API Documentation: Swagger, Authentication: JWT Based Authentication**, Frontend-web: Angular
                </td>
                <td>
                    <a href="https://github.com/shakib04/inventory-management-microservice-spring-boot" target="_blank">Github Repository</a>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td>-->
<!--                    <strong>-->
<!--                        <icon class="project-check"></icon>-->
<!--                        Books Cabinet-->
<!--                    </strong>-->
<!--                </td>-->
<!--                <td>-->
<!--                    Co-led the development of the "Books Cabinet" project for the <strong>Therap Java Fest 2021</strong>.-->
<!--                    <ul class="mb-0">-->
<!--                        <li>Idea: Marketplace of used/old books at a reduced price to support others and promote the reuse of books.</li>-->
<!--                    </ul>-->
<!--                </td>-->
<!--                <td class="project-techs">-->
<!--                    Java, Spring Boot, Thymeleaf-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a href="https://github.com/fesabelilla/Books-Cabinet">GitHub Repository</a>-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <td>
                    <strong>
                        <icon class="project-check"></icon>
                        Human Resource Management and Payroll Solution
                    </strong>
                </td>
                <td>
                    Developed modules: Employee Management, Attendance, Leave, Payroll, Procurement, Salary generation, Tax management, Provident fund management, Final Settlement management, Self-Services and PDF Report.
                </td>
                <td class="project-techs">
                    Java, Spring Boot, Angular, Postgres, Flyway DB Migration
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>