<style>
    .contact-info a {
        color: #007bff;
        text-decoration: none;
    }

    .contact-info a:hover {
        text-decoration: underline;
    }
</style>

<section id="self-intro" class="mb-3">

    <!--        <div class="col-3">-->
    <!--            <img id="profile-pic"-->
    <!--                 style="-->
    <!--                    /*position: relative;*/-->
    <!--                    /*top: -44px;*/-->
    <!--                    /*transform: scale(0.7);*/-->
    <!--                    /*border-radius: 50%;*/-->
    <!--                    /*left: 25px;*/-->
    <!--                   "-->
    <!--                 alt=""-->
    <!--                 src="./assets/img/md-shakibul-alam-no-bg.png">-->
    <!--        </div>-->

    <div id="" class="">
        <h1 id="name">
            <strong>Md. Shakibul Alam</strong>
        </h1>
        <h3>Software Engineer | Java | Spring Boot | Angular</h3>
        <span class="d-flex flex-row gap-3 fw-bold">
                <span><i class="fa-solid fa-certificate"></i> <span
                        class="experienceYears"></span> years of experience </span>
                <span><i class="fa-solid fa-building"></i> Currently working at BRAC IT Services Limited</span>
            </span>

<!--        <h2 class="mt-3 mb-2"><strong>Contact</strong></h2>-->


    </div>
    <div class="fw-bold d-flex gap-4 contact-info">
        <span class=""><i class="fa-solid fa-envelope"></i> <a href="mailto:mdshakibulalam@gmail.com"
                                                               target="_blank">mdshakibulalam@gmail.com</a></span>
        <span class=""><i class="fa-solid fa-phone"></i> <a
                href="tel:+8801622047400" target="_blank">+8801622047400</a> </span>
        <span class=""><i class="fa-brands fa-linkedin"></i> <a target="_blank"
                                                                href="https://www.linkedin.com/in/md-shakibul-alam-067138157/">Md. Shakibul Alam</a></span>
        <span><i class="fa-brands fa-github"></i> <a target="_blank"
                                                     href="https://github.com/shakib04">/shakib04</a></span>
        <span class=""><i class="fa-solid fa-location-dot"></i> Dhaka, Bangladesh</span>
    </div>
</section>