<section id="self-intro">
    <div class="d-flex justify-content-between">
        <div id="" class="col-9">
            <h1 id="name">
                <strong>Md. Shakibul Alam</strong>
            </h1>
            <h3>Software Engineer | Spring Boot | Angular</h3>
            <span class="d-flex flex-column fw-bold">
            <span><i class="fa-solid fa-certificate"></i> <span
                    class="experienceYears"></span> years of experience </span>
            <span><i class="fa-solid fa-building"></i> Currently working at BRAC IT Services Limited</span>
        </span>

            <div class="row mb-1">
                <div class="col-md-6">
                <span class="fw-bold d-flex gap-4">
                    <span><i class="fa-solid fa-location-dot"></i> Dhaka, Bangladesh</span>
                    <span><i class="fa-solid fa-phone"></i> +8801622047400</span>
                </span>
                </div>

                <div class="col-md-6">
                <span class="fw-bold d-flex gap-4">
                    <span><i class="fa-solid fa-envelope"></i> mdshakibulalam@gmail.com</span>
                    <span><i class="fa-brands fa-linkedin"></i> <a
                            href="https://www.linkedin.com/in/md-shakibul-alam-067138157/">Md. Shakibul
                Alam</a></span>
                </span>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-6">
                <span class="fw-bold d-flex gap-4">
                    <span><i class="fa-brands fa-github"></i> <a href="https://github.com/shakib04">/shakib04</a></span>
                </span>
                </div>
            </div>

        </div>

        <div class="col-3">
            <img id="profile-pic"
                 onload="customizePicture(this, 270);"
                 style="
                    /*position: relative;*/
                    /*top: -44px;*/
                    /*transform: scale(0.7);*/
                    /*border-radius: 50%;*/
                    /*left: 25px;*/
                   "
                 alt=""
                 src="./assets/img/md-shakibul-alam-no-bg.png">
        </div>
    </div>
</section>