<section id="summary">
    <h2 id=""><strong>Summary</strong></h2>
    <p>I am a Software Engineer with <strong><span class="experienceYears"></span></strong> years of experience
        specializing in
        <strong>Spring Boot and Angular</strong>. I have proven expertise in designing, implementing, and maintaining
        robust and scalable web applications. I am adept at collaborating with cross-functional teams to deliver
        high-quality
        code and achieve project goals.
    </p>
</section>