<section id="summary">
    <h2 id=""><strong>Summary</strong></h2>
    <p style="text-align: justify">I have <strong><span class="experienceYears"></span></strong> years of experience
        specializing in
        <strong>Java(Spring Boot) and Frontend(Angular)</strong>. I have developed, maintained and guided the development of
        <strong>Fin-Tech, HR Management Solution, Microservice</strong> web applications with these frameworks.
        I am adept at collaborating with cross-functional teams to deliver high-quality code and achieve project goals.
        I am passionate about learning new technologies and continuously improving my skills.
    </p>
</section>