<section id="technical-skills">
    <h2 id=""><strong>Technical Skills & Tools</strong></h2>
    <ul>
        <h4>I have expertise in different tools & technologies-</h4>
        <li><strong>Languages:</strong> Java, TypeScript, SQL</li>
        <li><strong>Frameworks and Technologies:</strong> Spring Boot, Angular, Hibernate,
            Webhook Notification, Spring Cloud Stream, Docker, Gradle
        </li>
        <li><span class="fw-bold">Queue:</span> RabbitMQ</li>
        <li><span class="fw-bold">Testing Tool:</span> JUnit, Mockito</li>
        <li><strong>Databases:</strong> PostgreSQL, MySQL, MongoDB, ElasticSearch, Redis</li>
        <li><strong>DB Migration Tool:</strong> Flyway</li>
        <li><strong>Version Control:</strong> Git, GitLab, GitHub</li>
        <li><strong>Others Tools:</strong> Linux, IntelliJ IDEA, ELK Log Monitoring, Jira</li>
    </ul>
</section>