<section id="technical-skills">
    <h2 id=""><strong>Technical Skills & Tools</strong></h2>
    <ul>
        <li><strong>Languages:</strong> Java, TypeScript, SQL</li>
        <li><strong>Frameworks and Technologies:</strong> Spring Boot, Angular, Hibernate, JUnit, Mockito,
            RabbitMQ, Webhook Notifcation, Spring Cloud Stream, Docker
            Gradle
        </li>
        <li><strong>Databases:</strong> Postgres, ElasticSearch, Redis</li>
        <li><strong>Migration:</strong> Flyway</li>
        <li><strong>Version Control:</strong> Git, Gitlab, Github</li>
        <li><strong>Tools:</strong> Ubuntu, IntelliJ IDEA, ELK Log Monitoring, Jira</li>
    </ul>
</section>