<section id="technical-skills">
    <h2 id=""><strong>Technical Skills & Tools</strong></h2>
<!--    <h5>I have expertise in different tools & technologies-</h5>-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Skills & Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Languages</strong></td>
                <td>Java, TypeScript, SQL</td>
            </tr>
            <tr>
                <td><strong>Frameworks and Technologies</strong></td>
                <td>Spring Boot, Angular, Hibernate, Webhook Notification, Spring Cloud Stream, Docker, Gradle</td>
            </tr>
            <tr>
                <td><span class="fw-bold">Queue</span></td>
                <td>RabbitMQ</td>
            </tr>
            <tr>
                <td><span class="fw-bold">Testing Tool</span></td>
                <td>JUnit, Mockito</td>
            </tr>
            <tr>
                <td><strong>Databases</strong></td>
                <td>PostgreSQL, MySQL, MongoDB, ElasticSearch, Redis</td>
            </tr>
            <tr>
                <td><strong>DB Migration Tool</strong></td>
                <td>Flyway</td>
            </tr>
            <tr>
                <td><strong>Version Control</strong></td>
                <td>Git, GitLab, GitHub</td>
            </tr>
            <tr>
                <td><strong>Others Tools</strong></td>
                <td>Linux, IntelliJ IDEA, ELK Log Monitoring, Jira</td>
            </tr>
        </tbody>
    </table>
</section>