<div class="cv-template background-color-white border-1px">
  <div class="cv-row">
    <div class="cv-bold">Contact Information</div>
    <div>Md. Shakibul Alam</div>
    <div>mdshakibulalam@gmail.com • +8801622047400 • linkedin.com/in/md-shakibul-alam-067138157 • Dhaka, Bangladesh</div>
  </div>

  <div class="cv-row">
    <div class="cv-bold">Resume Summary</div>
    <div class="w-richtext">
      Software Engineer with 4.2 years of experience developing scalable applications using Java (Spring Boot) and Angular for large-scale distributed systems. Expert in Fin-Tech, HR Management Solutions, and Microservices with proven success optimizing system performance and delivering high-quality code. Skilled in Test Driven Development (TDD) and Agile methodologies, seeking to leverage cutting-edge software development capabilities to drive innovation and deliver high-impact solutions.
    </div>
  </div>

  <div class="cv-row">
    <div class="cv-bold">Work Experience</div>
    <div><strong>BRAC IT Services Limited</strong></div>
    <div>Software Engineer • February 2022 • Present</div>
    <div>Dhaka, Bangladesh</div>
    <div class="w-richtext">
      <ul>
        <li>Developed and maintained an ERP application for microfinance, successfully integrated into 3500+ BRAC NGO offices across the country.</li>
        <li>Engineered a Webhook Notification System handling 100k+ daily notifications for 3rd party clients using Spring Cloud Stream and RabbitMQ.</li>
        <li>Built comprehensive HR and Payroll modules, including salary generation, tax management, and provident fund systems, improving administrative efficiency.</li>
        <li>Implemented high-performance messaging and caching strategies using RabbitMQ and Redis to ensure system reliability and low latency.</li>
        <li>Guided and mentored junior team members and led live release communications to ensure seamless deployment cycles.</li>
      </ul>
    </div>
  </div>

  <div class="cv-row">
    <div class="cv-bold">Resume Skills</div>
    <div class="w-richtext">
      <li>Software Development & Programming</li>
      <li>Java, TypeScript, SQL</li>
      <li>Data Structures & Algorithms</li>
      <li>Spring Boot, Angular, Hibernate</li>
      <li>System Design & Microservices Architecture</li>
      <li>Git, GitLab, GitHub</li>
      <li>Problem Solving & Analytical Thinking</li>
      <li>PostgreSQL, MySQL, MongoDB, Redis</li>
      <li>JUnit, Mockito (Test Driven Development)</li>
      <li>Docker, Gradle, Flyway DB Migration</li>
      <li>Collaboration & Agile Methodologies</li>
      <li>ELK Log Monitoring & Jira</li>
    </div>
  </div>

  <div class="cv-row">
    <div class="cv-bold">Achievements & Projects</div>
    <div><strong>Top 10 Project - Books Cabinet</strong></div>
    <div>Therap Java Fest • 2021</div>
    <div><strong>Inventory Management (Microservice)</strong></div>
    <div>Self-Directed Project • GitHub: /shakib04/inventory-management-microservice-spring-boot</div>
  </div>

  <div class="cv-row">
    <div class="cv-bold">Education</div>
    <div><strong>B.Sc. in Software Engineering</strong></div>
    <div>American International University Bangladesh (AIUB)</div>
    <div>Dhaka, Bangladesh • 2018 • 2021<br></div>
    <div class="w-richtext">
      <ul role="list">
        <li>Major: Software Engineering (CGPA: 3.59/4.00)</li>
        <li>Key Courses: Software Project Management, Quality & Testing, Advanced Web Programming</li>
      </ul>
    </div>
  </div>
</div>